
VARIABLES.sh
unmount_images.sh
installWSAGA.sh
extract_gapps_pico.sh
extend_and_mount_images.sh
apply.sh
\#IMAGES/vendor.img
\#IMAGES/system_ext.img
\#IMAGES/system.img
\#IMAGES/product.img
\#IMAGES/MicrosoftCorporationII.WindowsSubsystemForAndroid_2204.40000.15.0_neutral_~_8wekyb3d8bbwe.Msixbundle
\#GAPPS/product_output/overlay/PlayStoreOverlay.apk
\#GAPPS/output/product/overlay/PlayStoreOverlay.apk
\#GAPPS/output/priv-app/SetupWizard/SetupWizard.apk
\#GAPPS/output/priv-app/PrebuiltGmsCore/PrebuiltGmsCore.apk
\#GAPPS/output/priv-app/Phonesky/Phonesky.apk
\#GAPPS/output/priv-app/GoogleServicesFramework/GoogleServicesFramework.apk
\#GAPPS/output/priv-app/GoogleRestore/GoogleRestore.apk
\#GAPPS/output/priv-app/GooglePartnerSetup/GooglePartnerSetup.apk
\#GAPPS/output/priv-app/GooglePackageInstaller/GooglePackageInstaller.apk
\#GAPPS/output/priv-app/GoogleOneTimeInitializer/GoogleOneTimeInitializer.apk
\#GAPPS/output/priv-app/GoogleFeedback/GoogleFeedback.apk
\#GAPPS/output/priv-app/GoogleExtServices/GoogleExtServices.apk
\#GAPPS/output/priv-app/GoogleBackupTransport/GoogleBackupTransport.apk
\#GAPPS/output/priv-app/ConfigUpdater/ConfigUpdater.apk
\#GAPPS/output/priv-app/CarrierSetup/CarrierSetup.apk
\#GAPPS/output/priv-app/AndroidMigratePrebuilt/AndroidMigratePrebuilt.apk
\#GAPPS/output/priv-app/AndroidAutoPrebuiltStub/AndroidAutoPrebuiltStub.apk
\#GAPPS/output/framework/com.google.android.media.effects.jar
\#GAPPS/output/framework/com.google.android.maps.jar
\#GAPPS/output/framework/com.google.android.dialer.support.jar
\#GAPPS/output/etc/sysconfig/google_exclusives_enable.xml
\#GAPPS/output/etc/sysconfig/google_build.xml
\#GAPPS/output/etc/sysconfig/google.xml
\#GAPPS/output/etc/sysconfig/google-hiddenapi-package-whitelist.xml
\#GAPPS/output/etc/sysconfig/dialer_experience.xml
\#GAPPS/output/etc/preferred-apps/google.xml
\#GAPPS/output/etc/permissions/split-permissions-google.xml
\#GAPPS/output/etc/permissions/privapp-permissions-google.xml
\#GAPPS/output/etc/permissions/com.google.android.media.effects.xml
\#GAPPS/output/etc/permissions/com.google.android.maps.xml
\#GAPPS/output/etc/permissions/com.google.android.dialer.support.xml
\#GAPPS/output/etc/default-permissions/opengapps-permissions-q.xml
\#GAPPS/output/etc/default-permissions/default-permissions.xml
\#GAPPS/output/app/GoogleTTS/GoogleTTS.apk
\#GAPPS/output/app/GoogleExtShared/GoogleExtShared.apk
\#GAPPS/output/app/GoogleContactsSyncAdapter/GoogleContactsSyncAdapter.apk
\#GAPPS/output/app/GoogleCalendarSyncAdapter/GoogleCalendarSyncAdapter.apk
\#GAPPS/open_gapps-x86_64-11.0-pico-20220503.zip
apply.sh
extend_and_mount_images.sh
extract_gapps_pico.sh
installWSAGA.sh
unmount_images.sh
VARIABLES.sh
